@model LoginViewModel

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/auth/loginpage.css" type="text/css" media="screen" />

    <script class="script" type="text/javascript" src="~/js/jquery.js" defer=""></script>
    <script class="script" type="text/javascript" src="~/js/jquery.min.js" defer=""></script>
    <script class="script" type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" defer=""></script>

</head>

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-6 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Вход в аккаунт</h5>
                    <form class="form-signin" asp-controller="Auth" asp-action="Login" method="post">
                        <input type="hidden" asp-for="ReturnUrl" />
                        <div class="form-label-group">
                            <input asp-for="UserName" type="text" id="inputUserName" class="form-control" placeholder="User Name" required autofocus>
                            <span asp-validation-for="UserName"></span>
                            <label for="inputUserName">User Name</label>
                        </div>
                                           
                        <div class="form-label-group">
                            <input asp-for="Password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                            <span asp-validation-for="Password"></span>
                            <label for="inputPassword">Password</label>
                        </div>

                        <div class="custom-control d-flex align-items-center custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" style="color:#4D6566" for="customCheck1">Запомнить пароль</label>
                            <div class="col-md d-flex justify-content-end">
                                <a asp-area="" asp-controller="Auth" asp-action="Register" class="text-primary fw-bold ,  text-align: right;">Создать аккаунт Freemer</a>
                            </div>
                        </div>
                        
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Войти</button>
                        <hr class="my-4">
                        <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Войти с Google</button>
                        <button class="btn btn-lg btn-vk btn-block text-uppercase" type="submit"><i class="fab fa-vk-f mr-2"></i> Войти с VK</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<form asp-controller="Auth" asp-action="Login" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <div>Login</div>
    <div>
        <label>UserName</label>
        <input asp-for="UserName" />
    </div>
    <div>
        <label>Password</label>
        <input asp-for="Password" />
    </div>
    <div>
        <button type="submit">Sign In</button>
    </div>
</form>
