<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="фриланс, найти работу, удаленная работа, программирование, работа из дома, фриланс для новичков без опыта, вакансии​">
    <meta name="description" content="Freemer - понятный ресурс для фрилансеров">
    <title>Auth</title>
    <link rel="stylesheet" href="~/css/masterpage.css" media="screen" />
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:300,300i,400,400i,700,700i">

</head>
<body>
    <header class="header">
        <div class="container headerFirstSection">
            <div class="row" style="height: 130px;">
                <div class="col-xl-3 d-flex align-items-center">
                    <a href="https://google.com">
                        <img src="~/images/aa9ea670-a448-7168-e6d9-13db9cbba82d.png" class="logo-image" width="280" height="105">
                    </a>
                </div>
                <div class="headerFirstMenu col-xl-6 d-flex align-items-end justify-content-center">
                    <ul class="nav">
                        <li class="u-nav-item">
                            <a class="navButton1" href="Найти-исполнителя.html" style="padding: 10px 12px;">Найти исполнителя</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="navButton1" href="Найти-заказ.html" style="padding: 10px 12px;">Найти заказ</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="navButton1" href="О-нас.html" style="padding: 10px 12px;">О нас</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="navButton1" href="Контакты.html" style="padding: 10px 12px;">Контакты</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-3 d-flex align-items-center">

                    <div class="row">
                        <div class="col d-flex align-items-center">
                            <form action="https://google.com">
                                <input type="submit" value="Создать заказ" class="btn createOrderButton text-nowrap">
                            </form>
                        </div>
                        <div class="col d-flex align-items-center">
                            <button onclick="location.href='https://google.com'" type="button" class="btn enterButton">
                                <img src="~/images/8371161.png" alt="" width="40" height="40">
                                Войти
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="headerSecondSection">
            <div class="container">
                <div class="row headerFirstMenu col-xl-12 d-flex align-items-center justify-content-center" style="height: 55px;">
                    <ul class="nav">
                        <li class="u-nav-item">
                            <a class="navButton2" href="programming_development.html" style="padding: 10px 12px;">Программирование и разработка</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="navButton2" href="design.html" style="padding: 10px 12px;">Дизайн</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="navButton2" href="texts_translation.html" style="padding: 10px 12px;">Тексты и переводы</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="navButton2" href="sales_marketing.html" style="padding: 10px 12px;">Продажи и маркетинг</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
<
        <section class="content">
            
                <h2 class="githubRedirection">
                    <span class="">Сейчас Freemer на стадии разработки основного функционала.</span>
                    <br>
                    <br>
                    <span class="">
                        Все подробности на
                        
                            <a href="https://github.com/disthere/freemer" target="_blank">
                                <span>https://github.com/Disthere/Freemer</span>
                            </a>
                                </span>
                        
                </h2>
            
        </section>
    


    <footer class="footer">
        <div class="container">
            <div class="">
                <p class="">
                    ..................................<br>
                </p>
            </div>
        </div>
    </footer>

</body>
</html>
